body{overflow-X: hidden; overflow-Y:auto;}

@media screen and (min-width:1280px) and (max-width:1919px) {

    #wrap {width: 100%; height: 100%; background-color:#777;}
    #headBox {position:fixed; z-index: 1000; width:100%; height:70px; background-color:rgba(255,255,255,0.1); 
    h1 {width: 70px; height: 70px; margin:auto; @include url; background-size:60%; background-image: url("../img/tesla.png");
    a {display: block; width: 100%; height: 100%;}}
    
    .menu {position:absolute; top:0; left:3.5%; width:70px; height: 70px; @include url;
           background-size: 30%;
           background-image: url("../img/menu.png" );
        a{display: block; width: 100%; height: 100%;}
    } // .menu
    .search_area {position:absolute; top:0; bottom:0; right:5%; margin:auto; width: 230px; height: 30px; 
     .search {position: absolute; @include margin; width:100%; height: 100%; border:1px solid #fff;  
      #searchBar {float:left; width: 200px; height:30px; border:none; background-color:rgba(255,255,255,0.2); 
        &::placeholder {color:$white; font-size: 0.7rem;}
        } // #searchBar
      .search_icon {float:right; width:30px; height: 30px; background-color:rgba(255,255,255,0.2); color:#fff;}
      } // .search 
     } // .search_area
    } // #headBox
    
    #banner {width: 100%; height:100%;
    
      .banner_video {position:relative; width: 100%; height:100%; margin:auto; background-color:#fff; 
        video {position: absolute; width: 100%; min-width:100%; height:auto; min-height:100%; left:50%; top:0; transform:translate(-50%,-10%);
                @include url;
                background-image: url("../img/tesla_poster.jpg");
        } // video
      } // .banner_video 
    
     .banner_left {position: fixed; z-index:10; top:0; bottom:0; margin:auto; width: 120px; height:200px; 
      .nameBox {position:relative; width:100%; height: 100px; 
        .name {position:absolute; bottom:45%; right:0; transform: rotate(-90deg); text-align: center; font-size:1.2rem; 
            width: 70px; height:30px; font-weight:bold; color:#fff; letter-spacing:10px;}
    } // .name
      .numberBox {width: 100%; height: 40px; 
        &:before {content:" "; display: block; width: 100px; height: 1px; background-color:$primary;}
        .number {position:absolute; bottom:0; top:30%; right:0; margin:auto; width: 70px; height: 20px; text-align: center; font-weight:bold; color:#fff;}
        } // .numberBox
     } // .banner_left
     .banner_right {position: fixed; z-index:10; top:10%; bottom:0; right:3%; margin:auto; width: 100px; height:200px; 
        ul{width:100%; height:100%;
            li{width:100%; height:10%;
      .line {position:relative; top:50%; float:right; width:60px; height: 1px; background-color:$primary; }
        &:nth-child(2) {.line {width:30px; height:1px; background-color: #fff;} }
        &:nth-child(3) {.line {width:30px; height:1px; background-color: #fff;} }
        &:nth-child(4) {.line {width:30px; height:1px; background-color: #fff;} }
        &:nth-child(5) {.line {width:30px; height:1px; background-color: #fff;} }
        } // li
      } // ul
     } // .banner_right
    
    @keyframes mousewheel {
        0% {height:0; top:0;}
        100% {height:50px; top:50%;}
    } // @keyframs
    .scroll {position: absolute; bottom:2%; left:0; right:0; margin:auto; width: 50px; height: 100px; 
     .mouse {position: absolute; bottom:2%; left:0; right:55%; margin:auto; width: 10px; height: 100px;
      .wheel {position: absolute; width: 1px; height: 50px; right:0; left:0; margin:auto; transform:translateX(-50%);
              text-indent:-2000px; background-color:$white; animation:mousewheel 1s linear infinite;
      } // .wheel
     } // .mouse
     p {position: absolute; bottom:60%; right:0; font-size:0.8rem; color:$white; transform: rotate(-90deg);}
     } // .scroll
    }// #banner


    #modelS {width: 100%; height: 100%; margin-top:20rem; background-color: #999; 
      .Sinfo {position:relative; float:left; width: 60%; height: 100%; background-color: #fff;
       .sImg {position: absolute; width:500px; height:500px; @include margin; top:-20%; @include url; background-image: url("../img/modelS.png");}
        >span {position: absolute; @include margin; top:62%; display: block; text-align: center; font-weight:bold; color:#555; letter-spacing:10px;}
       .spec {position: absolute; @include margin; bottom:-70%; width: 603px; height: 100px;
        ul {width: 100%; height:auto;
          strong {display:block; width:200px; height: 50px; font-weight:bold; text-align:center; font-style:normal; color:#333; font-size:1.1rem;}
          span {display:block; width: 200px; height:50px;text-align:center; color:#333; font-size:0.8rem;}
          li{position: relative;}
          .zeroH {float:left; width: 200px; height: 100%;}
          .liter {float:left; width: 200px; height: 100%;}
          .street {float:left; width: 200px; height: 100%;}
          li:before {content:" "; display: block; position:absolute; top:0; bottom:0; margin:auto; height:40px; width:1px; background-color:#333;}
          li:first-child:before{width:0;}
          } // ul
         } // .spec
        } // .Sinfo
      .Sorder {position: relative; float:left; width: 40%; height: 100%;
       .welcomeBox {position:absolute; right:0; left:0; width: 400px; height: 100%; margin:auto;
        >span {position: absolute; display: block; right:25%; left:0; bottom:0; top:0; margin:auto; width:200px; height: 0; 
          font-size:4rem; font-weight:bold; color:#fff;
        transform:rotate(-90deg);}  
        .orderBox {position: absolute; bottom:12%; right:0; left:0; width: 150px; height: 40px; margin:auto; 
          border:1px solid #fff; border-radius:5px;
         span {display: block; width: 100%; height: 100%; text-align: center; line-height:40px; font-size:0.8rem;
          a {display: block; color:#fff; }
           } // span
          } // .orderBox
         } //.welcomeBox
        } // .Sorder
       } // #modelS
      
      
       #interior {position:relative; margin-top:20rem; width: 100%; height: 100%; background-color: #fff; 
        h2 {font-size: 1.8rem;}
        span {font-size:0.8rem; font-weight:bold;}
        p {font-size:0.8rem; margin-top:20px; line-height:22px; font-weight:600;}
        
        .fadeout {display:none; width: 100%; height: 100%;
        .perfomanceBox {position: absolute; @include margin; padding-left:60px; padding-top:60px; 
          width: 1000px; height: 500px; border:1px solid #222; 
        .more {display: block; margin-top:2rem; width: 150px; height: 40px; border:1px solid #222; border-radius:5px;
         a {display: block; color:#222; text-align: center; line-height:40px; font-size: 0.8rem;}
         } // .more
        } //.perfomanceBox
      
        .interior_img_01 {position: absolute; right:10%; top:-2%; margin:auto; width:580px; height: 370px;
          @include url; background-image: url("../img/modelS_back.png");}
        .interior_img_02 {position: absolute; bottom:10%; left:8.5%; margin:auto; width:380px; height:250px; 
          @include url; background-image: url("../img/door.png");}   
        } // fadeout                   
      
          /*fadein*/
        .fadein_interior {position:relative; margin-top:20rem; width: 100%; height: 100%;
          @include url; 
          background-size: cover;
          background-image: url("../img/interior_01.jpg");
          h2 {font-size: 1.8rem; color:#fff;}
          span {font-size:0.8rem; font-weight:bold; color:#fff;}
          p {font-size:0.8rem; margin-top:20px; line-height:22px; font-weight:600; color:#fff;}
          

         .inside_text {position:absolute; bottom:0; margin:auto; width: 100%; height: 150px; 
          ul {width: 100%; height: 100%;
            li {position: relative; float:left; margin-left: 140px; width:230px; height: 120px;
            strong {display: block; color:#fff; text-align: center;}
            span {display: block; line-height:1.8; text-align: center; font-size:0.7rem;}
            &:before {content:" "; display: block; position: absolute; top:0; bottom:0; left:-30%; margin:auto; width: 1px; height: 30px; background-color: #fff;}
            &:first-child:before{width:0;}
           } // li
          } // ul
         } // .inside_text
        } // .fadein_interior
       } // #interior

       #spec_page {position: relative; width: 100%; height: 100%; margin-top:20rem; background-color: #ccc;
          span {font-size:0.8rem; display:block; margin-bottom:20px; height: 20px; width:100px; 
            text-align: right; font-weight:600; color:#fff; }
          p {font-size:0.8rem; color:#fff;}
          .spec_base {float:left; width:150px; height:100%; padding-top:10px; box-sizing:border-box;}
          .spec_element {float:left; width:250px; height: 100%; padding-top:10px; box-sizing:border-box;}
          a {display: block; width: 100%; height: 100%;}

        .specImg {position:absolute; width: 100%; height: 100%; @include url; 
          background-size:cover;
          background-position:0 100%;
          background-image:url("../img/spec_img_03.jpg");}
        .Pbutton {position: absolute; z-index:1; left:14%; bottom:30%; width: 150px; height:40px; border-radius:5px; border:1px solid #fff;
         span {display: block; width: 100%; height: 100%; line-height:40px; text-align: center; color:#fff; text-transform: uppercase;
               letter-spacing:2px;}
        } // .Pbutton
        .Lbutton {position: absolute; z-index:1; left:14%; bottom:18%; width: 150px; height:40px; border-radius:5px; border:1px solid #fff;
         span {display: block; width: 100%; height: 100%; line-height:40px; text-align: center; color:#fff; text-transform: uppercase;
               letter-spacing:2px;}
        } // .Lbutton
        .spec_Atext {position:absolute; @include margin; bottom:-50%; width:100%; height:250px; 

         .Abox {position: absolute; left:30.5%; width:400px; height:250px;
        } // .Lbox
         .A_2box {position: absolute; right:10%; width:400px; height:250px;}
        } // .specImg
      } // #spec_page
      

} // media screen